.box {
	padding-bottom: 1rem;
}
.mint-header {
	background-color: #06c1ae;
	height: 52px;
}
.mint-navbar .mint-tab-item.is-selected {
	border-bottom: 3px solid #06c1ae;
	color: #06c1ae;
	margin-bottom: -3px;
}
.banner {
	overflow: hidden;
	position: relative;
}
.banner img {
	width: 100%;
}
.poi-album-tip {
	position: absolute;
	width: 2.8rem;
	height: 2.8rem;
	right: 0.15rem;
	bottom: 0.15rem;
	background-color: #000;
	opacity: 0.7;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	line-height: 0.96rem;
}
.poi-album-tip a.react {
	display: block;
	color: inherit;
	width: 100%;
	padding-top: 0.6rem;
}
/* 地址========================================== */
.poiinfo-wrap {
	background-color: #fff;
    padding-left: .6rem;
	padding-bottom: .8rem;
}
.poiinfo-wrap .name {
    margin: 0;
    border-bottom: 1px solid #ddd8ce;
}
.poiinfo-wrap .name .poi-brand {
    margin: .21rem 1rem .15rem 0;
    color: #333;
    font-size: 1rem;
	text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.poiinfo-wrap .name .poi-score {
    margin: .6rem 0;
	text-align: left;
	font-size: .8rem;
    display: flex;
	flex-direction: row;
}
.stars {
    display: flex;
	flex-direction: row;
}
.icon-star-orange-lg {
    width: 1rem;
    height: 1rem;
	margin-right: .2rem;
    background-image: url(../../../static/img/start.png);
	background-size: 100%;
}
.stars .star-text{
	color: #f90;
	font-weight: bold;
	margin-left: .6rem;
}
.poiinfo-wrap .name .avg-price {
    color: #999;
    margin-left: 2.4rem;
}
.poiinfo-wrap .addr {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}
.poiinfo-wrap .addr .react {
    padding: .28rem 0;
    color: inherit;
	display: flex;
	flex-wrap: wrap;
}
.poiinfo-wrap .icon-location {
    transform: scale(6,6);
    background-image: url(../../../static/img/iconpic.png);
    background-position: -1.3rem -1rem;
    width: .25rem;
    height: .25rem;
    background-repeat: no-repeat;
    background-size: 1.62rem 1.56rem;
	margin: 1.3rem 0 0 .9rem;
}
.poiinfo-wrap .addr .poi-address {
    width: 80%;
	text-align: left;
	padding-top: .4rem;
	margin-left: .9rem;
	font-size: .7rem;
}
.poiinfo-wrap .addr .phone {
    border-left: 1px solid #ddd8ce;
	display: flex;
}
.poiinfo-wrap .addr .poi-phone {
    height: 100%;
    width: 3.2rem;
    text-align: center;
}
.icon-tel {
	display: block;
	margin: .4rem 0 0 .6rem;
    background-image: url(../../../static/img/iconpic.png);
    background-position: -5.8rem -2.9rem;
	transform: scale(.7);
    width: 2.2rem;
    height: 2.4rem;
}
/* 推荐菜========================================================= */
.block {
    border-top: 1px solid #ddd8ce;
    border-bottom: 1px solid #ddd8ce;
    margin-top: .8rem;
    background-color: #fff;
}
.block .block-title {
    font-size: 1.24rem;
    color: #333;
    padding: .6rem 0;
    margin-left: .8rem;
    border-bottom: 1px solid #ddd8ce;
    overflow: hidden;
    font-weight: 400;
	text-align: left;
}
.recommond-wrapper {
    margin:0 .2rem;
    overflow: hidden;
    font-weight: 400;
    position: relative;
    padding: .28rem .2rem;
	display: flex;
	flex-wrap: wrap;
}
.recommond-wrapper .recommond-item {
    font-size: .3rem;
    color: #333;
    font-size: .9rem;
	color: #666;
    font-weight: 400;
    margin-right: 1.04rem;
    margin-bottom: .37rem;
}

/* 黄色按钮================================== */
.all-comment {
    border-top: 1px solid #ddd8ce;
    border-bottom: 1px solid #ddd8ce;
    margin-top: .6rem;
	padding: .4rem;
    background-color: #fff;
}
.all-comment .block-title {
	display: block;
    padding: .21rem .2rem .21rem 0;
    border-bottom: 0;   
	overflow: hidden;
    color: inherit;
    height: 100%;
	margin-left: .2rem;
}
.all-comment .block-title .stars{
	float: left;
}
.cloud-tag {
    font-size: inherit;
    padding: .8rem .2rem .12rem 0;
    margin-left: .2rem;
    border-top: 1px solid #ddd8ce;
	display: flex;
	flex-wrap: wrap;
}
.cloud-tag a.tag-hot {
    color: #fdb338;
    border-color: #fdb338;
    margin-bottom: .3rem;
    margin-right: .4rem;
    font-size: .28rem;
    padding: .4rem .6rem;
    border:1px solid #fdb338;
    border-radius: .2rem;
}
.cloud-tag .tag-num {
    margin-left: .05rem;
}
/* 用户反馈======================================= */






















































